.postContainer {
  img {
    width: 100vw;
    max-height: 25rem;
    object-fit: cover;
  }
}
.postContent {
  max-width: 720px;

  h1 {
    font-size: 2.875rem;
    margin-top: 2.875rem;
  }
}

.info {
  margin-top: 1.275rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--info);

    & + span {
      margin-left: 0.875rem;
    }

    svg {
      margin-right: 0.275rem;
    }
  }
}

.bodyPost {
  margin-top: 2.875rem;
  padding-bottom: 1rem;

  h2 {
    font-size: 1.875rem;
    font-weight: 700;
    color: var(--heading);
    margin-bottom: 2.875rem;
  }

  .text {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
    color: var(--heading);
    margin-bottom: 2.875rem;

    p {
      & + p {
        margin-top: 1.5rem;
      }
    }

    ul {
      margin: 1.5rem;
    }
  }
}

.postsNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--line);
  padding-bottom: 2.875rem;

  h3 {
    font-size: 1.125rem;
    font-weight: 400;
    color:var(--heading);
    margin-bottom: 0.5rem;
  }

  a {
    color: var(--highlight);
    font-weight: 600;
  }

  div {
    padding-top: 3rem;
  }

  div + div {
    text-align: right;

  }
}
